# Operating system files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Dependencies and generated builds
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
# Local Netlify folder
.netlify
